

.container{
    width: 50%;
    margin: 10% auto;
    /* border: 1px solid #000; */
    height: 400px;
}

.frm{
    padding: 40px 20px;   
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
form label{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: 700;
}

form input{
    width: 50%;
    margin: 0 auto;
    padding: 15px 5px;
    outline: none;
    border: 2px groove rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
    width: 50%;
    margin: 0 auto;
    padding: 15px 5px;
    box-shadow: 0px 0 1px 1px rgba(0, 0, 0, .2);
    border: none;     
    
}

.hide{
    display: none;
}

.visible{
    display: block;
}

.results{
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: grey;
}
.highlighted{
    color: #fff;
    background: gray;

}